<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <FeatureGroup Id="fgRoot">
      <Feature Id="featAscomDrivers" Title="ASCOM drivers" Level="1" Absent="disallow"
               Display="expand">
        <Feature Id="featAscomServer" Title="ASCOM Multi-instance Server" Level="1" Absent="disallow" Display="expand">
          <ComponentGroupRef Id="cgAscomServer"/>
        </Feature>
        <Feature Id="featAscomDomeDriver" Title="ASCOM Dome Driver" Level="1" Absent="allow" Display="expand">
          <ComponentGroupRef Id="cgAscomDomeDriver"/>
        </Feature>
      </Feature>
      <Feature Id="featFirmwareFeatures" Title="Firmware" Level="1" Absent="disallow" Display="expand">
        <Feature Id="featFirmware" Title="Precompiled firmware">
          <ComponentGroupRef Id="cgFirmware"/>
        </Feature>
        <Feature Id="featFirmwareUploader" Title="Firmware upload utility">
          <ComponentGroupRef Id="cgFirmwareUploader"/>
        </Feature>
      </Feature>
    </FeatureGroup>
  </Fragment>
</Wix>