<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <DirectoryRef Id="FIRMWAREUTILS" />
    <ComponentGroup Id="cgFirmware" Directory="FIRMWAREUTILS">
            <Component Id="cmpRotatorFirmware" Guid="{7b377721-fc43-49b6-9de1-c9afe944d1e8}" Permanent="yes">
                <File Id="filRotatorFirmware" KeyPath="yes" Source="$(var.SolutionDir)Firmware\Rotator-4.0.0.hex" />
            </Component>
            <Component Id="cmpShutterFirmware" Guid="{2c9715c2-79ea-4e19-8301-9330d705bbed}" Permanent="yes">
                <File Id="filShutterFirmware" KeyPath="yes" Source="$(var.SolutionDir)Firmware\Shutter-4.0.0.hex" />
            </Component>
        </ComponentGroup>
  </Fragment>
</Wix>
