<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <DirectoryRef Id="FIRMWAREUTILS" />
    <ComponentGroup Id="cgFirmware" Directory="FIRMWAREUTILS">
            <Component Id="cmpRotatorFirmware" Guid="{6B942DEB-FB65-4F2B-B515-4064F7AB32BD}">
                <File Id="filRotatorFirmware" KeyPath="yes" Source="$(var.SolutionDir)Firmware\Rotator-4.0.0-beta.44.hex" />
            </Component>
            <Component Id="cmpShutterFirmware" Guid="{80FA6B13-059D-4AEE-B556-A667046AE2B5}">
                <File Id="filShutterFirmware" KeyPath="yes" Source="$(var.SolutionDir)Firmware\Shutter-4.0.0-beta.44.hex" />
            </Component>
        </ComponentGroup>
  </Fragment>
</Wix>
