<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIRECTORY" />
    <ComponentGroup Id="cgSystem">
      <Component Id="cmpSysCompilerServices" Directory="INSTALLDIRECTORY" Guid="*" Win64="no">
        <File Id="filSysCompilerServicesDll" Source="$(var.AscomServer.TargetDir)System.Runtime.CompilerServices.Unsafe.dll" Vital="yes" KeyPath="yes" />
      </Component>
      <Component Id="cmpSysTaskExtensions" Directory="INSTALLDIRECTORY" Guid="*" Win64="no">
        <File Id="filSysTaskExtensionsDll" Source="$(var.AscomServer.TargetDir)System.Threading.Tasks.Extensions.dll" Vital="yes" KeyPath="yes" />
      </Component>
      <Component Id="cmpSysValueTuple" Directory="INSTALLDIRECTORY" Guid="*" Win64="no">
        <File Id="filSysValueTupleDll" Source="$(var.AscomServer.TargetDir)System.ValueTuple.dll" Vital="yes" KeyPath="yes" />
      </Component>
      <Component Id="cmpSysIoPorts" Directory="INSTALLDIRECTORY" Guid="*" Win64="no">
        <File Id="filSysIoPortsDll" Source="$(var.AscomServer.TargetDir)System.IO.Ports.dll" Vital="yes" KeyPath="yes" />
      </Component>
      <Component Id="cmpSysTextCodePages" Directory="INSTALLDIRECTORY" Guid="*" Win64="no">
        <File Id="filSysTextCodePagesDll" Source="$(var.AscomServer.TargetDir)System.Text.Encoding.CodePages.dll" Vital="yes" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>