<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TA.NexDome.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TA.NexDome.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <TA.NexDome.Server.Properties.Settings>
      <setting name="CommPortName" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>COM1:9600</value>
      </setting>
      <setting name="SetupDialogLocation" serializeAs="String">
        <value>100, 100</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FullRotationTimeSeconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ShutterOpenCloseTimeSeconds" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="HomeSensorAzimuth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ParkAzimuth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RotatorMaximumSpeed" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="RotatorRampTimeMilliseconds" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="ShutterMaximumSpeed" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ShutterAccelerationRampTimeMilliseconds" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="FirmwareUploadVerboseOutput" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShutterIsInstalled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KeepStatusWindowOnScreen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DowngradeWarningAcknowledged" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShutterLowVoltsThreshold" serializeAs="String">
        <value>11.5</value>
      </setting>
      <setting name="ShutterAutoCloseOnLowBattery" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShutterWaitUntilReady" serializeAs="String">
        <value>False</value>
      </setting>
    </TA.NexDome.Server.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <TA.NexDome.Server.Properties.Settings>
      <setting name="ShutterTickTimeout" serializeAs="String">
        <value>00:00:02</value>
      </setting>
      <setting name="SerialAssertDTR" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SerialAssertRTS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SerialBaudRate" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="SerialParity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="SerialDataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="SerialStopBits" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="SerialHandshake" serializeAs="String">
        <value>RequestToSend</value>
      </setting>
      <setting name="RotatorTickTimeout" serializeAs="String">
        <value>00:00:02</value>
      </setting>
      <setting name="TigraLogoWebDestination" serializeAs="String">
        <value>http://tigra-astronomy.com</value>
      </setting>
      <setting name="AscomLogoWebDestination" serializeAs="String">
        <value>http://ascom-standards.org</value>
      </setting>
      <setting name="NexDomeWebDestination" serializeAs="String">
        <value>http://nexdome.com</value>
      </setting>
      <setting name="OnConnectWaitForShutterOnline" serializeAs="String">
        <value>00:02:00</value>
      </setting>
      <setting name="FirmwareImageDirectory" serializeAs="String">
        <value>C:\NexDome-Firmware</value>
      </setting>
      <setting name="FirmwareUploaderExecutable" serializeAs="String">
        <value>TA.NexDome.FirmwareUpdater.exe</value>
      </setting>
      <setting name="OnlineHelpWebDestination" serializeAs="String">
        <value>https://github.com/nexdome/ASCOM/wiki</value>
      </setting>
      <setting name="FaqWebDestination" serializeAs="String">
        <value>https://github.com/nexdome/ASCOM/wiki</value>
      </setting>
      <setting name="FacebookWebDestination" serializeAs="String">
        <value>https://www.facebook.com/groups/477732789267400</value>
      </setting>
      <setting name="ShutterLowVoltsNotificationTimeToLive" serializeAs="String">
        <value>00:01:00</value>
      </setting>
    </TA.NexDome.Server.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
