<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target xsi:type="Trace" name="DebugView"
            rawWrite="true"
            layout="NEX|${pad:padding=-5:inner=${uppercase:${level}}}|${pad:padding=-16:fixedLength=true:alignmentOnTruncation=right:inner=${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false:includeNamespace=false}}| ${message}" />
    <target xsi:type="File" name="LogFile"
            filename="${environment:variable=UserProfile}/logs/TA.Nexdome.Server-${filesystem-normalize:fSNormalize=true:inner=${shortdate}-${windows-identity}-${machinename}.log}"
            layout="${time}|${pad:padding=-5:inner=${uppercase:${level}}}|${pad:padding=-16:inner=${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false:includeNamespace=false}}|${message}" />

    <!--
    Logging to Tigra Astronomy's SEQ cloud service.
    Our logging technology captures ambient data such as your
    computer name and Windows user name.
    If you have privacy concerns, you should disable this target
    in the <rules> section below (just delete the line that references "seq".
    We recommend keeping this section as it contains information that will be
    hard to put back later if you have problems.
    -->
    <target name="seq" xsi:type="BufferingWrapper" bufferSize="1000"
            flushTimeout="500" slidingTimeout="false">
      <target xsi:type="Seq" name="seq" serverUrl="http://seq.tigra-astronomy.com:5341" apiKey="X3vQxFgPYGjgoyrkFedq">
        <!-- Augment the log data with some extra properties -->
        <property name="ProcessId" value="${processid}" />
        <property name="ProcessName" value="${processname}" />
        <property name="ThreadId" value="${threadid}" as="number" />
        <property name="Machine" value="${machinename}" />
        <property name="Host" value="${hostname}" />
        <property name="User" value="${environment-user}" />
      </target>
    </target>

  </targets>
  <rules>
    <logger enabled="true" name="*.ServedComClassLocator" final="true" />
    <logger enabled="true" name="*.Dome" minlevel="Trace" writeTo="DebugView" />
    <logger enabled="true" name="*" minlevel="Trace" writeTo="DebugView" />
    <logger enabled="true" name="*" minlevel="Trace" writeTo="LogFile" />
    <!-- Delete the following line to disable logging to the cloud -->
    <logger name="*" minlevel="Trace" writeTo="seq" />
  </rules>
</nlog>